:root{
    --background-color : white;
    --text-color : black;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: black;
    color:white;
}

/* Navbar : navbar.css*/

/* Section-common things */
.section-title>a:hover{
    padding-bottom: 1px;
    margin-left:2%;
    margin-right: 2% ;
    border-bottom: 2px solid white;
}

.section-title:hover{
    animation: section-title 2s infinite;
}

@keyframes section-title {
    0%{
        color: red;
    }
    25%{
        color: yellow;
    }
    50%{
        color:green;
    }
    75%{
        color: blue;
    }
    100%{
        color: violet;
    }
    
}

/* section-1 : name and description*/

#home{
    background-color: black;
    padding-top: 10vh;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
}

#title-name{
    align-self: center;
    font-size: 4em;
    font-weight: 900;
    font-style: italic;
    user-select: none;
}

#title-name:hover{
    animation: title-animation 5s forwards;
}

@keyframes title-animation {
    0%{
        color:black;
        padding: 0px 20%;
        border-bottom: 3px groove #50D890;
    }
    30%{
        padding: 0px 10%;
    }
    60%{
        padding:0% 5%;
    }
    100%{
        color:white;
    }
}

#title-description{
    font-weight: 700;
    font-size: 1.2em;
    align-self: center;
    font-style: italic;
    user-select: none;
}

#title-description:hover,
#title-description:focus{
    animation: description-animation 5s forwards;
}

@keyframes description-animation {
    0%{
        /* color: #50D890; */
        color:black;
        padding: 0px 20%;
        border-left: 3px groove #50D890;
        border-right: 3px groove #50D890;
    }
    30%{
        padding: 0px 10%;
        border-color: black;
    }
    60%{
        padding:0% 5%;
        color:white;
    }
    100%{
        color:white;
    }
}

@media (max-width : 750px){
    #title-name{
        font-size:3em;
        text-align: center;
    }
    #title-description{
        margin:0 10%;
        text-align: center;
        font-size:1.3em;
    }
    @keyframes title-animation {
        0%{
            color:black;
            padding: 0px 10%;
            border-bottom: 3px groove #50D890;
        }
        30%{
            padding: 0px 5%;
        }
        60%{
            padding:0% 3%;
        }
        100%{
            color:white;
        }
    }

    @keyframes description-animation {
        0%{
            /* color: #50D890; */
            color:black;
            padding: 0px 10%;
            border-left: 3px groove #50D890;
            border-right: 3px groove #50D890;
        }
        30%{
            padding: 0px 5%;
            border-color: black;
        }
        60%{
            padding:0% 3%;
            color:white;
        }
        100%{
            color:white;
        }
    }
}

/* section-2 : blogs */

#blogs{
    background-color: black;
    color:white;
    padding:10vh 0;
    margin: 0 2%;
}

#blog-title{
    text-align: center;
    font-size: 2em;
}

#blog-title>a:visited,
#blog-title>a:link{
    text-decoration: none;
    color:white;
}

#blog-start-line{
    padding-left:2%;
    font-size: 1.1em;
    text-align: left;
    font-style: italic;
}

.blog-row{
    display: flex;
    justify-content: space-between;
}

.blog-tile{
    flex:1;
    height: 50vh;
    width: 20vw;
    margin:10px 10px;
    padding:5px 10px;
    border-radius: 10px;
    background-color: #4F98CA;
    box-shadow: #316c94 5px 5px , #01253d 10px 10px , #02131f 15px 15px ;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.blog-tile::-webkit-scrollbar{
    display: none;
}

.blog-tile>h4{
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 5px;
    align-self: center !important;
}

.blog-tile>h4>a:link,
.blog-tile>h4>a:visited{
    text-decoration: none;
    color: inherit;    
}

.blog-tile>h4:hover{
    text-decoration: underline;
}

.blog-tile>p{
    font-size: 0.8em;
    font-style: italic;
}

#blog-end-line{
    font-style:italic;
    font-weight: 400;
    text-align: right;
}

@media (max-width:750px) {
    .blog-row{
        flex-direction: column;
        align-items: center;
    }

    .blog-tile{
        width: 80%;
        height: 30vh;
        max-height: 40vh;
    }
    
}

/* section-3 : about me */
#about-me{
    background-color: black;
    color:white;
    padding:10vh 0;
    margin: 0 2%;
}

#about-me-title{
    text-align: center;
    font-size: 2em;
}

#about-me-title>a:visited,
#about-me-title>a:link{
    text-decoration: none;
    color:white;
}

#profile-photo{
    user-select: none;
    display: block;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 50%;
}

#short-description{
    margin:4px 30%;
    padding:2vh 2%;
    background-color: #EFFFFB;
    border-radius: 2%;
    box-shadow: #b0bdba 5px 5px;
    color:black;
}

#blockquote-box{
    margin:10px 30%;
    margin-top: 30px;
    padding:2vh 2%;
    background-color: #EFFFFB;
    border-radius: 2%;
    box-shadow: #b0bdba 5px 5px;
    color:black;
    font-size: 1em;
}

#blockquote-box:hover,
#short-description:hover{
    animation: shadow-animation 5s forwards;
}

@keyframes shadow-animation {
    0%{
        box-shadow: #b0bdba 15px 15px;
    }
    50%{
        box-shadow: #b0bdba 10px 10px;
    }
    100%{
        box-shadow: #b0bdba 5px 5px;
    }
}

#blockquote-source{
    font-size: 1.1em;
    text-align: right;
    font-style: italic;
}

#about-me-link{
    width: 100%;
    text-align: right;
    font-style: italic;
}
#about-me-link>a:visited,
#about-me-link>a:link{
    color: white;
    text-decoration: none;
}

#about-me-link:hover{
    text-decoration: underline;
}
@media (max-width:750px) {

    #profile-photo{
        width: 250px;
    }
    #short-description,
    #blockquote-box{
        margin: 4px 10%;
        margin-top:30px;
    }
}

/* section-4 : contact me */
#contact-me{
    background-color: black;
    color:white;
    padding:10vh 0;
    margin: 0 2%;
}

#contact-me-title{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20vh;
}

#contact-me-title>a:visited,
#contact-me-title>a:link{
    text-decoration: none;
    color:white;
}

.contact-row{
    display: flex;
    justify-content: flex-start;
}

.contact-tile{
    flex:1;
    margin:10vh 2%;
    padding: 10vh 0%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 5%;
}

#contact-tile-svg{
    width: 2vw;
    padding:0 20px;
}

.contact-me-tile-name{
    font-size: 1.1em;
    margin:0 2px;
}

.contact-me-tile-name>a:visited,
.contact-me-tile-name>a:link{
    color: white;
    text-decoration: none;
}

.contact-me-tile-name>a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
}

#contact-me-instagram{
    background-color: #7538AF;
    box-shadow:  #562b80 -5px -5px, #43285c -10px -10px;
}

#contact-me-linkedin{
    background-color: #0073B2;
    box-shadow:  #0b496b -5px -5px, #0c3d57 -10px -10px;
}

#contact-me-github{
    background-color: #2d3642;
    box-shadow:  #292f3f 5px -5px, #1e2127 10px -10px;
}

#contact-me-email{
    background-color: #E84234;
    box-shadow:  #ac3227 5px -5px, #691f18 10px -10px;
}

@media (max-width:750px) {
    .contact-row{
        flex-direction: column;
        justify-content: flex-start;
    }
    .contact-tile{
        flex:1;
        margin:2vh 5%;
        max-height: 5vh;
        font-size: 1.2em;
    }
    #contact-me-title{
        text-align: center;
        font-size: 2em;
        margin-bottom: 5vh;
    }
    #contact-me-instagram{
        box-shadow:  #562b80 5px -5px, #43285c 10px -10px;
    }
    #contact-me-linkedin{
        box-shadow:  #0b496b 5px -5px, #0c3d57 10px -10px;
    }
}