/* Main components */
:root{
    --background-color : #FFFFFF;
    --text-color : #000000;
    --tile-color: #DDDDDD;
    --tile-text-color : #000000;
}
    
body{
	margin: 0%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	background-color: var(--background-color);
	color: var(--text-color);
	margin-bottom: 20vh !important;
}

a:link,
a:visited{
    text-decoration: none;
    color: inherit;
}

::selection {
	color: white;
	background: #3390FF;
}

/* About me page */
#about-me{
    padding: 5vh 0;
    margin: 0 3vw;
}

#main-title{
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
}

.about-me-tile{
	display: flex;
    flex:1;
    margin:10px 10px;
    border-radius: 10px;
    border: 5px #808080 solid;
    background-color: var(--tile-color);
    box-shadow: #cdcdcd -10px 10px ;
    color: var(--tile-text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* profile photo */

#profile-photo{
	user-select: none;
    display: block;
	height: 50vh;
	width: auto;
    margin: 5vh auto;
	border-radius: 50vh;
}

#resume-link{
	background-color: var(--tile-color);
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 3vh 30vw;
	padding: 2vh 5vw;
	border-radius: 10px;
	border: 5px #808080 solid;
}

#resume{
	font-size: 1.3em;
	text-decoration: bold;
	font-weight: 800;
}

#resume:hover{
	text-decoration: underline;
}

/* About me lines */

#about-me-column{
	display: flex;
	flex-direction: column;
}

#info{
	width: 70vw;
	align-self: center;
	padding: 2vh 3vw;
	align-items: flex-start;
	justify-content: space-evenly; 
}

.info-lines{
	font-weight: 600;
	font-size: 1.2em;
	padding: 0 3vw;
	border-left: 5px black solid;
}

/* Work tile */

.section-title{
	font-weight: 800;
    font-size: 1.8em;
    text-align: center;
	margin: auto 10vw;
}

#work{
	flex-direction: row;
	margin: 0vh auto;
	padding: 2vh 3vw;
	align-items: flex-start;
	justify-content: space-evenly; 
}

.work-tile-row{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 5vh auto;
}

.work-tile{
	font-weight: 600;
	padding: 2vh 2vw;
	align-items: center;
	font-size: 1.2em
}

.work-tile-svg{
	height: 1em;
}

/* certificates */

.certificate-tile{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.certificate-title{
	width: 80vw;
	text-align: center;
	padding: 5vh 5vh;
	background-color: var(--tile-color);
	font-size: 1.3em;
	font-weight: 600;
}

.certificate-title:hover{
	background-color: #808080;
	text-decoration: underline;
}

.certificate-image-block{
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.certificate-image{
	width: inherit;
	max-width: 60%;
	height: auto;
	border: 5px var(--text-color) solid;
	margin: 2vh 0vw;
	padding: 2vw 2vw;
}

/* Responsive web design */

/* Tablet */
@media (max-width:770px) {
	body{
        font-size:  0.8em;
    }
	#profile-photo{
		width: 50vw;
		height: auto;
	}
	#work{
		flex-direction: column;
	}
	.work-tile-row{
		width: 70vw;
		margin: 0;
	}
	.certificate-title{
		width: 70vw;
	}
	.certificate-image{
		max-width: 80%;
	}
	#resume-link{
		margin: 3vh 20vw;
	}
}

/* Mobile */
@media(max-width:430px){
    body{
        font-size: 0.65em;
    }
	#resume-link{
		margin: 3vh 10vw;
	}
}
