/* Main components */
:root{
    --background-color : #FFFFFF;
    --text-color : #000000;
    --tile-color: #DDDDDD;
    --tile-text-color : #000000;
}

body{
    margin: 0vh 0vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to left,var(--background-color),var(--background-color),var(--tile-color),var(--tile-color));
	color:var(--text-color) ;
    font-size: 18px;
    margin-bottom: 10vh;
}

a:link,
a:visited{
    text-decoration: none;
    color: inherit;
}

::selection {
	color: white;
	background: #3390FF;
}

.main-header{
    display: flex;
    align-items: center;
    padding: 2vh 2vw;
}

#home{
	color: var(--text-color);
    margin: 5vh 10vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#profile-photo{
	user-select: none;
    align-items: left;
	display: flex;
    width: 50vh;
    height: auto;
    border-radius: 50%;
}

.line{
    font-size: 4em;
    white-space: nowrap;
    overflow: hidden;
    animation: text-animation 1s forwards;
}

@keyframes text-animation {
    0%{
        color: transparent;
        padding: 0vh 0vw 0vh 3vw;
    }
    100%{
        color: black;
    }
}

/* Responsive main page */

/* Tablet */
@media(max-width:770px){
    body{
        font-size: 0.8em;
        background-image: linear-gradient(to bottom,var(--background-color),var(--background-color),var(--tile-color),var(--tile-color));
    }
    .line{
        font-size: 3.5em;
    }
    #home{
        height: 30vh;
    }
    .main-header{
        flex-direction: column-reverse;
        align-items: center;
    }
    #profile-photo{
        height: 40vh;
        width: auto;
    }
    @keyframes text-animation {
        0%{
            color: transparent;
            padding: 0vh 0vw 10vh 0vw;
        }
        100%{
            color: black;
        }
    }
}

/* Mobile */
@media(max-width:430px){
    body{
        font-size:  0.65em;
    }
    .line{
        font-size: 3em;
    }
    #home{
        margin : 10vh auto;
    }
    .main-header{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #profile-photo{
        height: 30vh;
        width: auto;
    }
}